body {
    margin: 0px;
    padding: 0px;
}

app, leaflet {
    display: block;
}

.fullscreen {
    position: fixed;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
}
.screen-sized {
    height: 100vh;
    width: 100vw;
}
.fill-parent {
    height: 100%;
    width: 100%;
}
